# Requirements to run the local environment codes

sklearn => 'pip install scikit-learn==0.21.0'
genetic_selection => 'pip install sklearn-genetic'
pandas => 'pip install pandas'
pylab => 'pip install matplotlib'